body {
    font-family: 'Roboto', arial;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
}

.header {
    display: flex;
    justify-content: space-between;
    background: #1f2937;
    padding: 2% 14%;
}

.header-links {
    display: flex;
    gap: 40px;
}

.p1 {
    display: flex;
    background: #1f2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.block {
    display: flex;
    flex-direction: column;
    
}

.content {
    max-height: 100vh;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 13px;
    margin-top: 3px;
}

.sign {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    width: fit-content;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.p2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    padding-top: 10px;
}

.grid {
    display: flex;
    flex-direction: row;
}

.p2 h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-left: 10px;
}

.info .text {
    color: #1f2937;
    font-size: 17px;
    text-align: center;
    max-width: 200px;
}
.info img {
    max-width: 200px;
}

.p3 {
    display: flex;
    flex-direction: column;
    padding: 5% 20%;
    background: #e5e7eb;
}

.p3 .quote {
    font-size: 26px;
    font-style: italic;
    color: #1f2937;
}

.p3 .autor {
    text-align: end;
    font-weight: bold;
}


a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
  }


.block img {
    max-width: 500px;
    padding-left: 50px;
}

.p4 {
    display: flex;
    justify-content: space-between;
    margin: 5% 15%;
    padding: 2% 8%;
    align-items: center;
    background: #3882f6;
    border-radius: 5px;
    color: white;
}

.titleb {
    font-weight: bolder;
}

.textb {
    font-weight: lighter;
    font-size: 14px;
}

.sign2 {
    background: #3882f6;
    border: 2px solid white;
    color: white;
    padding: 8px 25px;
    border-radius: 8px;
    font-weight: bolder;
    font-size: 14px;
}

.footer {
    display: flex;
    background: #1f2937;
    justify-content: center;
    padding: 30px;
    color: white;
    font-size: 18px;
    margin-top: 100px;
}